/* Колір основного тексту: color: #212121; */
/* Другий колір тексту: color: #757575; */
/* Білий: color: #FFFFFF; */
/* Другий білий: color: rgba(255, 255, 255, 0.6); */
/* Акцент: background: #2196F3; */
/* Колір фона: background: #F5F5F5; */
/* Другий колір фона background: #F5F4FA; */
/* Колір шапки: background: #FFFFFF; */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --bg-color: #f5f5f5;
  --color-filter-button: #f5f4fa;
  --black: #000000;
  --button-focus: #188ce8;
  --hero-color: #2f303a;
}
body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

/* Logo */

.logo {
  color: var(--black);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-color {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

/* Site nav */

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.contacts {
  color: var(--primary-text-color);

  letter-spacing: 0.02em;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
}

.contacts .line {
  color: var(--primary-text-color);
  text-decoration: none;
}

.contacts .line:hover,
.contacts .line:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: var(--hero-color);
}

.hero-title {
  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

button {
  font-family: inherit;
  cursor: pointer;
}

/* Section */

.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.none {
  display: none;
}

/* Features */

.features .title {
  color: var(--title-text-color);

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.features .text {
  line-height: 1.71;
}

/* Command */

.command .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.command .post {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.section .command {
  background-color: var(--color-filter-button);
}

/* button */

.button {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;

  width: 216px;
  height: 50px;
  left: 692px;
  top: 430px;
}

.button:hover,
.button:focus {
  background-color: var(--button-focus);
  border: none;
}

/* Footer */

.logo-color-two {
  color: var(--white-color);
}

.footer-section {
  background-color: var(--hero-color);
}

.address .place {
  color: var(--white-color);

  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
}

.address .place:hover,
.address .place:focus,
.address .line:hover,
.address .line:focus {
  color: var(--primary-text-color);
}

.address .line {
  color: rgba(255, 255, 255, 0.6);

  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
}

/* Portfolio */

.filter-button {
  color: var(--title-text-color);
  background-color: var(--color-filter-button);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  border: none;

  width: 130px;
  height: 38px;
  left: 957px;
  top: 174px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

a {
  text-decoration: none;
}

.portfolio .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio .type {
  color: var(--title-text-color);

  font-size: 16px;
  line-height: 1.88;
}
